* {
    border: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(202, 184, 19)
}

h2 {
    color: rgb(202, 184, 19)
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}