<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <style>
        * {
            border: 0;
            padding: 0;
        }

        section {
            display: flex;
            justify-content: center;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <header>
        <h1>Hola como están</h1>
    </header>
    <main>
        <h1 th:text="${titulo}"></h1>
        <div th:if="${usuarios.size == 0}">No hay Usuarios</div>

        <section>
            <table th:if="${usuarios.size > 0}">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.email}"></td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </section>
    </main>
</body>

</html>